<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
     <link rel="icon" type="image/x-icon" href="photo/favicon.ico">
    <title> Weather </title>
</head>
<body style="margin : 0; padding :0 ">
    <img src= "photo/404_page_cover.gif"  alt="Weather Image" class= "img404">
    <img src= "photo/page.jpg"  alt="Weather Image" class= "page">
    <div class="float" > 
        <h1 class="f1">Opps! There has been a glitch</h1>
        <div class="f1"> We haven't found a weather of desired location Please! Go back to Home Page!</div>
        <a href="/"> <button class="hom"  >Home</button></a>
        
   </div>
</body>
</html>